.emc-accordion__button,
.emc-accordion__button[aria-expanded='true'] {
  padding: 1rem 50px 1rem 1rem;
  position: relative;
  border: none;
  font-weight: normal;
  background-color: #f4f4f4;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.emc-accordion__button[aria-expanded='false'] {
  padding: 1rem 50px 1rem 1rem;
  position: relative;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  font-weight: normal;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
}
.emc-accordion__button[aria-expanded='false']:after {
  content: ' ';
  background-image: url(../icons/expand_more-24px.svg);
  width: 18px;
  height: 17px;
  background-size: 18px 18px;
  background-position: 0px 3px;
  display: inline-block;
  float: right;
}
.emc-accordion__button[aria-expanded='true']:after {
  content: ' ';
  background-image: url(../icons/expand_less-24px.svg);
  width: 18px;
  height: 17px;
  background-size: 18px 18px;
  background-position: 0px 3px;
  display: inline-block;
  float: right;
}
.emc-accordion__content {
  border-left: 2px solid #e77500;
  padding: 0.5rem 1rem;
  margin: 1rem 0 1rem 1.25rem;
}
.emc-accordion__content[aria-hidden='true'] {
  display: none;
}
