.emc-alert-section {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}
.emc-alert-section__title {
  padding-right: 3rem; // what is the purpose of this?
  font-weight: 700;
  font-size: 1.35rem;
  line-height: 1.75rem;
  margin: .5rem 0;
}
.emc-alert-section__close {
  width: 44px;
  height: 44px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  margin: 0;
  top: 1rem;
  right: 1rem;
  background: url(../icons/remove-symbol.svg?fill=#fff) no-repeat center/2ex 2ex;
  text-indent: -9999rem;
}
