.emc-quote {
  font-weight: 300;
  font-size: 1.5rem;
  border-top: 1px solid #c8c8c8;
  line-height: 1.25em;
  display: table;
  margin: 1.5em 0 0;
}

.emc-quote:before {
  content: "";
  width: 115px;
  height: 8px;
  background-color: #e77500;
  display: block;
  position: relative;
  left: 3em;
  top: -9px;
}

.emc-quote:after {
  display: block;
  clear: both;
  content: "";
}
