.puds-btn {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: .9;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: get-color("primary-bg"); // #005ea2;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  margin-right: .5rem;
  padding: .75rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 100%;

  //&--hover, &:hover {
  //  @extend .puds-btn;
  //  color: #fff;
  //  background-color: #1a4480;
  //}
  //
  //&--active, &:active {
  //  @extend .puds-btn;
  //  color: #fff;
  //  background-color: #162e51;
  //}
  //
  //&--focus, &:focus {
  //  @extend .puds-btn;
  //  outline: .25rem solid #2491ff;
  //  outline-offset: 0;
  //}
  //
  //&:not([disabled]), &:not([disabled]):focus {
  //  @extend .puds-btn;
  //  outline-offset: .25rem;
  //}
  //
  //&:disabled {
  //  @extend .puds-btn;
  //  -moz-osx-font-smoothing: grayscale;
  //  -webkit-font-smoothing: antialiased;
  //  background-color: #c9c9c9;
  //  color: #fff;
  //  pointer-events: none;
  //}
  //
  //&--unstyled {
  //
  //  -moz-osx-font-smoothing: auto;
  //  -webkit-font-smoothing: subpixel-antialiased;
  //  color: #005ea2;
  //  text-decoration: underline;
  //  background-color: transparent;
  //  border: 0;
  //  border-radius: 0;
  //  box-shadow: none;
  //  font-weight: 400;
  //  margin: 0;
  //  padding: 0;
  //  text-align: left;
  //}
}

.puds-btn.puds-btn--hover, .puds-btn:hover {
  color: #fff;
  background-color: get-color("primary-bg-dark"); // #1a4480;
  border-bottom: 0;
  text-decoration: none;
}

.puds-btn.puds-btn--active, .puds-btn:active {
  color: #fff;
  background-color: get-color("primary-bg-darker"); // #162e51;
}

.puds-btn.puds-btn--focus, .puds-btn:focus {
  outline: .25rem solid get-color("focus"); // #2491ff;
  outline-offset: 0;
}

.puds-btn:not([disabled]).puds-focus, .puds-btn:not([disabled]):focus {
  outline-offset: .25rem;
}

.puds-btn:disabled {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: get-color("primary-bg-disabled"); // #c9c9c9;
  color: #fff;
  pointer-events: none;
}

.puds-btn.puds-btn--unstyled {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #005ea2;
  text-decoration: underline;
  background-color: get-color("primary-bg-unstyled"); // transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media (min-width: 30em) {
  .puds-btn {
    width: auto;
  }
}
