@import 'theme';

.emc-card {
  border: 1px solid emc-theme-rgb(neutral-light);
  border-top: 3px solid emc-theme-rgb(accent);
}

.emc-card__heading {
  font-family: $font-face-heading;
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(14);
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0px;
  padding: px-to-rem(16) px-to-rem(22) px-to-rem(14) px-to-rem(22);
  border-bottom: 1px solid emc-theme-rgb(neutral-light);
  vertical-align: middle;
}

.emc-card__content {
  padding: px-to-rem(15) px-to-rem(22);
  line-height: 1.5;
}

.emc-card__footer {
  @include emc-theme-color(neutral-light);
  padding: px-to-rem(10) px-to-rem(12);
  //background: #e7eef0;
  font-family: $font-face-body;
  font-style: normal;
  font-weight: 700;
  font-size: px-to-rem(10);
  text-transform: uppercase;
}
