.emc-card {
  border: 1px solid emc-theme-rgb(neutral-light);
  border-top: 3px solid emc-theme-rgb(accent);
}

.emc-card__heading {
  font-style: normal;
  font-weight: 600;
  font-size: px-to-rem(14);
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0px;
  padding: px-to-rem(16) px-to-rem(22) px-to-rem(14) px-to-rem(22);
  border-bottom: 1px solid emc-theme-rgb(neutral-light);
  vertical-align: middle;
}

.emc-card__content {
  padding: px-to-rem(15) px-to-rem(22);
  line-height: 1.5;
}

.emc-card__footer {
  @include emc-theme-color(neutral-light);
  padding: px-to-rem(10) px-to-rem(12);
  font-style: normal;
  font-weight: 700;
  font-size: px-to-rem(10);
  text-transform: uppercase;
}

// EE article card

.emc-news-card {
  @include emc-theme-color(card);
  display: flex;
  flex-direction: column;
  // this allows the card to properly take up space when put into a flex container
  width: 100%;
  max-width: px-to-rem(400);
  margin: px-to-rem(20);
}
.emc-news-card:hover {
  @include emc-elevation(4);
  cursor: pointer;
}
.emc-news-card img {
  border-bottom: 4px solid emc-theme-rgb(accent);
  width: 100%;
}
.emc-news-card h1,
.emc-news-card h2,
.emc-news-card h3,
.emc-news-card h4,
.emc-news-card h5,
.emc-news-card h6 {
  line-height: 1.5;
  margin: 0 0 px-to-rem(8) 0;
  padding: px-to-rem(4) px-to-rem(20);
}
.emc-news-card a {
  text-decoration: none;
  line-height: 1;
  color: black;
  background-color: white;
}
.emc-news-card h3 a:hover {
  border-bottom: px-to-rem(1) solid emc-theme-rgb(accent);
}

// EE event card

.emc-event-card-container {
  padding: px-to-rem(20);
  max-width: px-to-rem(430);
}
.emc-event-card {
  @include emc-theme-color(card);
  border-top: 4px solid emc-theme-rgb(accent);
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  line-height: 1.5;
}
.emc-event-card:hover {
   @include emc-elevation(4);
}
.emc-event-card__date-badge {
  margin: 0px px-to-rem(20) 0px 0px;
}
.emc-event-card__title {
  margin-bottom: px-to-rem(12);
}
.emc-event-card__title a {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  line-height: 1.2;
}
.emc-event-card__title a:hover {
  border-bottom: 1px solid emc-theme-rgb(accent);
}
.emc-event-card__section {
  margin-bottom: px-to-rem(12);
}
.emc-event-card__label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85rem;
  display: block;
  margin-top: px-to-rem(12);
}
.emc-event-card__date-badge-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.emc-event-card__date-badge-month {
  text-transform: uppercase;
  text-align: center;
}
.emc-event-card__date-badge-day {
  font-size: 1.85em;
  line-height: 1;
}
