.emc-dropdown,
.emc-dropdown--error {
  @include emc-theme-color(form-input);
  position: relative;
}
.emc-dropdown:after,
.emc-dropdown:before,
.emc-dropdown--error:after,
.emc-dropdown--error:before {
  bottom: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
}
.emc-dropdown:before,
.emc-dropdown--error:before {
  right: 0;
  width: 1.85em;
}
.emc-dropdown:after,
.emc-dropdown--error:after {
  border-bottom: 2px solid emc-theme-rgb(accent);
  border-right: 2px solid emc-theme-rgb(accent);
  height: .5em;
  margin: auto;
  right: .95em;
  transform-origin: center right;
  transform: rotate(45deg);
  width: .5em;
  z-index: 2;
}
.emc-dropdown select,
.emc-dropdown--error select {
  @include emc-theme-color(form-input);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid emc-theme-rgb(neutral-dark);
  line-height: normal;
  max-width: 100%;
  padding: .5em 2em .5em .5em;
  width: 100%;
}
.emc-dropdown--error select {
  border: .25rem solid emc-theme-rgb(error);
}
.emc-dropdown select option,
.emc-dropdown--error select option {
  @include emc-theme-color(form-input);
}
.emc-dropdown select option[disabled],
.emc-dropdown--error select option[disabled] {
  color: emc-theme-rgb(form-input__disabled);
}
