.emc-elevation-1 {
  box-shadow:
      0px 0px 2px rgba(0, 0, 0, 0.14),
      0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
}
.emc-elevation-2 {
  box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.14),
      0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 1px 5px rgba(0, 0, 0, 0.2);
}
.emc-elevation-4 {
  box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.14),
      0px 4px 5px rgba(0, 0, 0, 0.12),
      0px 1px 10px rgba(0, 0, 0, 0.2);
}
.emc-elevation-8 {
  box-shadow:
    0px 8px 10px rgba(0, 0, 0, 0.14),
    0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 4px 5px rgba(0, 0, 0, 0.2);
}
.emc-elevation-16 {
  box-shadow:
    0px 16px 24px rgba(0, 0, 0, 0.14),
    0px 6px 30px rgba(0, 0, 0, 0.12),
    0px 8px 10px rgba(0, 0, 0, 0.2);
}
@mixin emc-elevation($size) {
  @if $size == 1 {
    box-shadow:
      0px 0px 2px rgba(0, 0, 0, 0.14),
      0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 1px 3px rgba(0, 0, 0, 0.2);
  } @else if $size == 2 {
    box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.14),
      0px 3px 4px rgba(0, 0, 0, 0.12),
      0px 1px 5px rgba(0, 0, 0, 0.2);
  } @else if $size <= 4 {
    box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.14),
      0px 4px 5px rgba(0, 0, 0, 0.12),
      0px 1px 10px rgba(0, 0, 0, 0.2);
  } @else if $size <= 8 {
    box-shadow:
      0px 8px 10px rgba(0, 0, 0, 0.14),
      0px 3px 14px rgba(0, 0, 0, 0.12),
      0px 4px 5px rgba(0, 0, 0, 0.2);
  } @else {
    box-shadow:
      0px 16px 24px rgba(0, 0, 0, 0.14),
      0px 6px 30px rgba(0, 0, 0, 0.12),
      0px 8px 10px rgba(0, 0, 0, 0.2);
  }
}
