a.emc-email {
  color: emc-theme-rgb(body-text);
  background-color: transparent;
  border-bottom: 1px solid #c8c8c8;
  text-decoration: none;
}

a.emc-email:hover {
  border-bottom-color: emc-theme-rgb(accent);
}
