.emc-file-uploader--label {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  vertical-align: baseline;
}

.emc-file-uploader--label-description {
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5a6872;
  margin-top: 0.25rem;
  margin-bottom: 1.25rem;
}
