html {
  font-family: $font-face-body-default;
}

h1, .emc-h1,
h2, .emc-h2,
h3, .emc-h3,
h4, .emc-h4,
h5, .emc-h5,
h6, .emc-h6,
.emc-page-title,
.emc-display-heading,
.emc-block-heading,
.emc-card__heading,
.emc-news-card  {
  font-family: $font-face-heading-default;
}

footer.emc-footer h2,
.emc-card__footer,
.emc-pager,
.emc-btn,
.emc-breadcrumb,
.emc-modal {
  font-family: $font-face-body-default;
}

emc-event-card__title a {
  font-family: $font-face-heading-default;
}

a.emc-tab-link {
  font-family: $font-face-body-default;
}
