html.emc-font-pairing--casual {
  font-family: $font-face-body-casual;
}

h1.emc-font-pairing--casual, .emc-h1.emc-font-pairing--casual,
h2.emc-font-pairing--casual, .emc-h2.emc-font-pairing--casual,
h3.emc-font-pairing--casual, .emc-h3.emc-font-pairing--casual,
h4.emc-font-pairing--casual, .emc-h4.emc-font-pairing--casual,
h5.emc-font-pairing--casual, .emc-h5.emc-font-pairing--casual,
h6.emc-font-pairing--casual, .emc-h6.emc-font-pairing--casual,
.emc-page-title.emc-font-pairing--casual,
.emc-display-heading.emc-font-pairing--casual,
.emc-block-heading.emc-font-pairing--casual,
.emc-card__heading.emc-font-pairing--casual,
.emc-news-card.emc-font-pairing--casual  {
  font-family: $font-face-heading-casual;
}

footer.emc-footer.emc-font-pairing--casual h2,
.emc-card__footer.emc-font-pairing--casual,
.emc-pager.emc-font-pairing--casual,
.emc-btn.emc-font-pairing--casual,
.emc-breadcrumb.emc-font-pairing--casual,
.emc-modal.emc-font-pairing--casual {
  font-family: $font-face-body-casual;
}

emc-event-card__title.emc-font-pairing--casual a {
  font-family: $font-face-heading-casual;
}

a.emc-tab-link.emc-font-pairing--casual {
  font-family: $font-face-body-casual;
}
