footer.emc-footer {
  background: #1b1b1b;
  color: #fff;
  padding-top: 2rem;
}
footer.emc-footer h2 {
  font-family: Roboto,sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #fff !important;
  font-weight: bold !important;
  font-style: normal !important;
  margin-bottom: 0;
}
footer.emc-footer a {
  color: #fff;
  text-decoration: none;
}
footer.emc-footer a:hover {
  text-decoration: underline;
}
ul.emc-footer__list {
  list-style: none;
  padding-left: 0px;
}
ul.emc-footer__list li {
  margin-bottom: .50rem;
}
ul.emc-footer__icon-list {
  list-style: none;
  padding-left: 0px;
}
ul.emc-footer__icon-list li {
  display: inline-block;
  margin-right: 10px;
}
.emc-footer__content {
  padding-bottom: 2rem;
}
.emc-footer__subfooter {
  background: #000000;
  border-top: 1px solid #979797;
  padding: 1rem 0;
}
.emc-footer__logo {
  width: 142px;
  float: right;
}
.emc-icon.emc-footer__icon {
  background-color: white;
}
