.emc-input, .emc-select, .emc-textarea {
  border-radius: 0;
  border: 1px solid get-theme('input-border-color');
  color: get-theme('input-text-color');
  display: block;
  margin-top: .5rem;
  max-width: 30rem;
  padding: .5rem;
  background-color: get-theme('input-bgcolor');
}

.emc-input.emc-input--error {
  border: .25rem solid get-theme('input--error-border-color');
}

// taken from digital.gov
.emc-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// TODO: doesn't work in firefox
.emc-checkbox__input {
  width: 1.25em;
  height: 1.25em;
}

textarea.emc-input {
  width: 100%;
  max-width: 100%;
}
