.puds-form-field,
 .puds-form-field--error {
   margin-top: 1.5rem;
   padding-left: 1rem;
   border-left: .25rem solid transparent;
 }

.puds-form-field label,
.puds-form-field--error label {
  display: block;
  line-height: 1.1;
  margin-bottom: .5rem;
  max-width: 30rem;
}

.puds-form-field--error {
  border-left: .25rem solid get-theme('form-field--error-border-color');
}

.puds-form-field-error-msg {
  font-size: .85em;
  color: get-theme('form-field-msg--error-color');
}

.puds-form-field-msg {
  font-size: .85em;
  color: get-theme('form-field-msg-color');
}

.puds-form-field-required {
  padding-left: 5px;
  color: get-theme('form-field-required-color');
}
