.emc-header {
  border-top: 4px solid get-theme('header-cap-bgcolor');
}
.emc-header__pu-branding {
  padding: 1.25rem 0;
  background-color: get-theme('header-pu-branding-bgcolor');
  color: get-theme('header-pu-branding-text-color');
}
.emc-header__pu-branding img {
  width: 260px;
}
.emc-header__site-branding {
  padding: .75rem 0px;
  display: flex;
  flex-wrap: wrap;
  background-color: get-theme('header-site-branding-bgcolor');
  color: get-theme('header-site-branding-text-color');
}
.emc-header__site-branding img {
  width: 60px;
}
.emc-header__site-branding-name a,
.emc-header__site-branding-name a:visited {
  text-decoration: none;
  color: get-theme('header-site-branding-text-color');
  font-size: 2.75rem;
  font-weight: 700;
}
.emc-header__site-branding-contents {
  display: flex;
  flex-wrap: wrap;
}
.emc-header__site-branding-slogan {
  font-size: 1.25rem;
  font-weight: 300;
}
.emc-header__site-branding-home-link {
  padding-right: 1rem;
}
.emc-header__main-menu {
  height: 51px;
  background-color: get-theme('header-navbar-bgcolor');
}
.emc-header__search-bar form {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
}
.emc-header__search-bar-toggle {
  border: none;
  background-color: transparent;
}
.emc-header__search-bar form [type='search'] {
  padding-right: 0px;
  margin-right: 0px;
  border-right: none;
  border-left: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  height: 35px;
  max-width: 140px;
}
.emc-header__search-bar form [type='submit'] {
  background-image: url(../icons/iconmonstr-magnifier-2.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem;
  background-color: #fff;
  border: none;
  height: 35px;
  width: 35px;
  border-right: 1px solid #c8c8c8;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
.emc-header__menu-toggle {
  display: none;
}
@media (min-width: 992px) {
  .emc-header__utility-menu {
    position: absolute;
    top: -147px;
    right: 200px;
    line-height: 1.65;
  }
  .emc-header__utility-menu ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .emc-header__utility-menu a {
    font-size: .85rem;
    font-weight: 600;
    padding: .5rem 0 .2rem 0;
    margin: 0 .65rem;
    text-decoration: none;
    color: get-theme('header-utility-menu-text-color');
  }
  .emc-header__utility-menu a:hover {
    border-bottom: 1px solid get-theme('header-utility-menu-underline-color');
  }
  .emc-header__search-bar-toggle {
    display: none;
  }
  .emc-header__nav-container {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
  }
  .emc-header__search-bar-panel {
    position: absolute;
    top: -203px;
    right: 1rem;
  }
}
@media (max-width: 991px) {
  .emc-header__menu-toggle {
    position: absolute;
    top: -146px;
    right: 3rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    height: 32px;
    padding: 4px;
    display: flex;
  }
  .emc-header__search-bar-toggle {
    position: absolute;
    top: -195px;
    right: 1rem;
  }
  .emc-header__search-bar form,
  .emc-header__search-bar form a {
    width: 100%;
  }
  .emc-header__search-bar form [type='search'] {
    width: 100%;
    max-width: 100%;
  }
  .emc-header__search-bar-panel {
    position: absolute;
    left: 0;
    top: -155px;
    background: get-theme('header-searchbar-bgcolor');
    width: 100%;
    z-index: 1000;
    padding: 20px;
    border-bottom: 2px solid #f4f4f4;
  }
  .emc-header__search-bar-panel {
    display: none;
  }
  .emc-header__search-bar-panel--shown {
    display: block;
  }
  .emc-header__nav-container {
    display: none;
  }
  .emc-header__nav-container--expanded {
    position: absolute;
    left: 0;
    top: -104px;
    background: get-theme('header-nav-bgcolor');
    width: 100%;
    z-index: 1000;
    display: block;
  }
  .emc-header__utility-menu {
    padding-left: 1rem;
    position: relative;
  }
  .emc-header__utility-menu ul {
    list-style: none;
    padding: 0px;
    margin-right: 10px;
    margin-top: 0px;
  }
  .emc-header__utility-menu a:hover {
    border-bottom: 1px solid #e77500;
  }
  .emc-header__utility-menu li > a {
    border-bottom: 1px solid #c8c8c8;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 15px 0px;
    padding-left: 5px;
    display: block;
  }
  .emc-header__utility-menu--shown {
    display: block;
  }
}
