$emc-icons-standard: (
        facebook: '../icons/iconmonstr-facebook-6.svg',
        twitter:  '../icons/iconmonstr-twitter-1.svg',
        linkedin: '../icons/iconmonstr-linkedin-3.svg',
        instagram: '../icons/iconmonstr-instagram-11.svg',
        youtube: '../icons/iconmonstr-youtube-6.svg',

        close: '../icons/close-24px.svg',
        down-arrow: '../icons/keyboard_arrow_down-black-18dp.svg',
        expand-less: '../icons/expand_less-24px.svg',
        expand-more: '../icons/expand_more-24px.svg',
        external: '../icons/external-link-symbol.svg',
        magnifier: '../icons/iconmonstr-magnifier-2.svg',
        menu: '../icons/menu-24px.svg',
        remove: '../icons/remove-symbol.svg',
        right-arrow: '../icons/angle-arrow-pointing-to-right.svg',
);

@each $name, $path in map-merge($emc-icons-standard, $emc-icons-custom) {
  .emc-icon-#{$name} {
    -webkit-mask-image: url(#{$path});
    mask-image: url($path);
  }
}

@function emc-icons-path($name) {
  @return map-get(map-merge($emc-icons-standard, $emc-icons-custom), $name);
}
