.emc-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  mask-size: auto;
  -webkit-mask-size: 100%;
  background-color: #000;
}
.emc-icon.emc-icon-2x {
  width: 2em;
  height: 2em;
}
.emc-icon.emc-icon-3x {
  width: 3em;
  height: 3em;
}
.emc-icon.emc-icon-5x {
  width: 5em;
  height: 5em;
}
.emc-icon.emc-icon-7x {
  width: 7em;
  height: 7em;
}
.emc-icon.emc-icon-9x {
  width: 9em;
  height: 9em;
}
.emc-icon.emc-inverted {
  background-color: white;
}
.emc-icon-facebook {
  -webkit-mask-image: url(../icons/iconmonstr-facebook-6.svg);
  mask-image: url(../icons/iconmonstr-facebook-6.svg);
}
.emc-icon-twitter {
  -webkit-mask-image: url(../icons/iconmonstr-twitter-1.svg);
  mask-image: url(../icons/iconmonstr-twitter-1.svg);
}
.emc-icon-linkedin {
  -webkit-mask-image: url(../icons/iconmonstr-linkedin-3.svg);
  mask-image: url(../icons/iconmonstr-linkedin-3.svg);
}
.emc-icon-instagram {
  -webkit-mask-image: url(../icons/iconmonstr-instagram-11.svg);
  mask-image: url(../icons/iconmonstr-instagram-11.svg);
}
.emc-icon-youtube {
  -webkit-mask-image: url(../icons/iconmonstr-youtube-6.svg);
  mask-image: url(../icons/iconmonstr-youtube-6.svg);
}
.emc-icon-search {
  -webkit-mask-image: url(../icons/iconmonstr-magnifier-2.svg);
  mask-image: url(../icons/iconmonstr-magnifier-2.svg);
}
.emc-icon-close {
  -webkit-mask-image: url(../icons/close-24px.svg);
  mask-image: url(../icons/close-24px.svg);
}
.emc-icon-menu {
  -webkit-mask-image: url(../icons/menu-24px.svg);
  mask-image: url(../icons/menu-24px.svg);
}
