// em's are used for media queries (instead of rem's) because of a Safari bug

.emc-container {
  position: relative;
  width: 100%;
  padding-right: px-to-rem(16);
  padding-left: px-to-rem(16);
  margin-right: auto;
  margin-left: auto;
}
@include for-tablet-landscape-up {
  .emc-container {
    max-width: 60em;
  }
}
@include for-desktop-up {
  .emc-container {
    max-width: 75em;
  }
}
