// em's are used for media queries (instead of rem's) because of a Safari bug

.emc-container {
  position: relative;
  width: 100%;
  padding-right: px-to-rem(16);
  padding-left: px-to-rem(16);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: $emc-breakpoint-small) {
  .emc-container {
    width: 100%;
  }
}
@media (min-width: $emc-breakpoint-medium) {
  .emc-container {
    width: 100%;
  }
}
@media (min-width: $emc-breakpoint-large) {
  .emc-container {
    max-width: 60em;
  }
}
@media (min-width: $emc-breakpoint-xl) {
  .emc-container {
    max-width: 75em;
  }
}
