a {
  color: emc-theme-rgb(link);
}

a:visited, .emc-link-visited {
  color: emc-theme-rgb(link-visited);
}

.emc-highlight-visited a:visited, .emc-highlight-visited .emc-link-visited {
  color: emc-theme-rgb(link);
}

a:focus, .emc-link-focus {
  color: emc-theme-rgb(link-focus);
}

a:active, .emc-link-active {
  color: emc-theme-rgb(link-active);
}

a:hover, .emc-link-hover {
  color: emc-theme-rgb(link-hover);
}

a:disabled, .emc-link-disabled {
  color: emc-theme-rgb(link);
  cursor: not-allowed;
  opacity: 0.7;
  text-decoration: none;
}

a[target="_blank"]::after {
  content: url(../icons/external-link-symbol.svg?width=15px&height=15px);
  display: inline-block;
  margin-left: 0.2em;
  width: .5em;
  height: .5em;
}
.emc-no-icon[target="_blank"]::after {
  content: none;
  display: inherit;
  margin-left: inherit;;
  width: 0px;
  height: 0px;
}
