a[target="_blank"]::after {
  content: url(../icons/external-link-symbol.svg?width=15px&height=15px);
  display: inline-block;
  margin-left: 0.2em;
  width: .5em;
  height: .5em;
}
.puds-no-icon[target="_blank"]::after {
  content: none;
  display: inherit;
  margin-left: inherit;;
  width: 0px;
  height: 0px;
}
