@media (min-width: 992px) {
  ul.emc-menubar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0px;
    list-style: none;
  }
  ul.emc-menubar > li {
    padding-right: 14px;
    margin: 0 10px;
    position: relative;
  }
  ul.emc-menubar > li > a {
    border-bottom: 7px solid transparent;
    text-decoration: none;
    color: get-theme('menubar-primary-text-color');
    font-weight: bold;
    padding: 10px 0px;
  }
  ul.emc-menubar > li:hover > a {
    border-bottom: 7px solid get-theme('menubar-primary-hover-color');
  }
  ul.emc-menubar > li[aria-current='true'] > a,
  .emc-menubar > ul > li[aria-current='true']:hover > a {
    border-bottom: 7px solid get-theme('menubar-primary-selected-color');
  }
  ul.emc-menubar > li:hover > ul,
  ul.emc-menubar > li > button[aria-expanded='true'] + ul {
    left: 0;
    display: block;
  }
  ul.emc-menubar > li > ul {
    list-style: none;
    margin-top: 17px;
    position: absolute;
    margin-left: 0;
    padding-left: 0;
    z-index: 100;
    background: #fff;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
    min-width: 250px;
    border-top: 1px solid get-theme('menubar-secondary-border-color');
    border-left: 1px solid get-theme('menubar-secondary-border-color');
    display: none;
  }
  ul.emc-menubar > li:last-child:hover > ul {
    left: auto;
    right: 0;
  }
  ul.emc-menubar > li > button {
    z-index: 2;
    position: absolute;
    right: auto;
    top: 0;
    bottom: 0;
    padding: 0;
    width: 20px;
    overflow: hidden;
    border: none;
    background: transparent;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    background: url(../icons/keyboard_arrow_down-black-18dp.svg) no-repeat center/2ex 2ex;
    filter: get-theme('menubar-primary-arrow-filter');
  }
  ul.emc-menubar > li:hover > button,
  ul.emc-menubar > li > button[aria-expanded='true'] {
    transform: rotate(180deg);
  }
  ul.emc-menubar > li > ul > li > ul:not(.emc-menubar__submenu--shown) {
    display: none;
  }
  ul.emc-menubar .emc-menubar__submenu--shown {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    display: block;
  }
  ul.emc-menubar > li > ul li .emc-menubar__submenu--shown a {
    padding-left: 15px;
  }
  ul.emc-menubar > li > ul a {
    background-color: get-theme('menubar-secondary-background');
    text-decoration: none;
    color: get-theme('menubar-secondary-text-color');
    font-weight: bold;
    padding: 13px 5px;
    width: 100%;
    display: block;
  }
  ul.emc-menubar > li > ul li a:hover {
    background-color: get-theme('menubar-secondary-background-hover');
    color: get-theme('menubar-secondary-text-hover');
  }
  ul.emc-menubar > li > ul button {
    display: none;
  }
  ul.emc-menubar > li > ul a[aria-current='page'] {
    border-left: 2px solid get-theme('menubar-primary-selected-color');
  }
}
@media (max-width: 991px) {
  ul.emc-menubar {
    display: none;
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;
    margin-bottom: 0px;
  }
  ul.emc-menubar.emc-menubar--shown {
    display: block;
  }
  ul.emc-menubar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul.emc-menubar li > button:not([aria-expanded='true']) + ul {
    display: none;
  }
  ul.emc-menubar li {
    padding-left: 1rem;
    position: relative;
  }
  ul.emc-menubar a:hover {
    border-bottom: 1px solid #e77500;
  }
  ul.emc-menubar li > a {
    border-bottom: 1px solid #c8c8c8;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 15px 0px;
    padding-left: 5px;
    display: block;
  }
  ul.emc-menubar > li > ul > li {
    display: block;
    list-style: none;
    padding-left: 0px;
  }
  ul.emc-menubar > li > ul > li {
    padding-left: 1rem;
    position: relative;
  }
  ul.emc-menubar button {
    position: absolute;
    right: 10px;
    top: .75rem;
    border: none;
    background: transparent;
    width: 20px;
    height: 20px;
    overflow: hidden;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    background: url(../icons/keyboard_arrow_down-black-18dp.svg) no-repeat center/2ex 2ex;
  }
  ul.emc-menubar  li > button[aria-expanded='true'] {
    transform: rotate(180deg);
  }
  ul.emc-menubar a[aria-current='page'] {
    background-color: #f4f4f4;
  }
}
