.emc-pager {
  display: inline-block;
  padding-left: px-to-rem(0);
  margin: px-to-rem(20) px-to-rem(0);

  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.06rem;
  line-height: .9;
}

.emc-pager ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.emc-pager li {
  display: inline;
}

.emc-pager li a:hover {
  @include emc-theme-color(pager-item-hover);
}

.emc-pager li a:focus {
  font-weight: bold;
  border-color: #ddd;
}

.emc-pager>li:first-child>a {
  margin-left: 0;
  border-top-left-radius: px-to-rem(4);
  border-bottom-left-radius: px-to-rem(4);
}

.emc-pager>li:last-child>a {
  margin-right: 0;
  border-top-right-radius: px-to-rem(4);
  border-bottom-right-radius: px-to-rem(4);
}

.emc-pager>.disabled>a,
.emc-pager>.disabled>a:focus,
.emc-pager>.disabled>a:hover,
.emc-pager>.disabled>span,
.emc-pager>.disabled>span:focus,
.emc-pager>.disabled>span:hover {
  @include emc-theme-color(pager-item-disabled);
  cursor: not-allowed;
  border-color: #ddd;
}

.emc-pager>.active>a,
.emc-pager>.active>a:focus,
.emc-pager>.active>a:hover,
.emc-pager>.active>span,
.emc-pager>.active>span:focus,
.emc-pager>.active>span:hover {
  @include emc-theme-color(pager-item-active);
  cursor: not-allowed;
  border-color: #ddd;
}

.emc-pager>li>a,
.emc-pager>li>span {
  @include emc-theme-color(pager-item);
  border: 1px solid #ddd;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: px-to-rem(4) px-to-rem(10);
  position: relative;
  text-decoration: none;
}
.emc-pager>li>a,
.emc-pager>li>span {
  padding: px-to-rem(6) px-to-rem(12);
  line-height: 1.42857143;
}
