.emc-pill {
  @include emc-theme-color(neutral-light);
  display: inline-block;
  border-radius: px-to-rem(500);
  padding: px-to-rem(2) px-to-rem(16) px-to-rem(2) px-to-rem(16);
  margin-right: px-to-rem(4);
  font-size: px-to-rem(14);
  font-weight: bold;
  text-decoration: none;
  line-height: 1.5;
}
.emc-pill:hover {
  text-decoration: underline;
}
ul.emc-pill-bag {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
ul.emc-pill-bag li {
  @include emc-theme-color(neutral-light);
  display: inline-block;
  border-radius: px-to-rem(500);
  padding: px-to-rem(2) px-to-rem(16) px-to-rem(2) px-to-rem(16);
  margin-right: px-to-rem(4);
  font-size: px-to-rem(14);
  font-weight: bold;
  text-decoration: none;
}
ul.emc-pill-bag li a {
  color: black;
  text-decoration: none;
}
ul.emc-pill-bag li a:hover {
  text-decoration: underline;
}
