.puds-skip-link {
  position:absolute;
  left:-10000px;
  top:auto;
  overflow:hidden;
  padding: .5rem;
  margin: .25rem;
}

.puds-skip-link:focus, .puds-skip-link--shown {
  // position: relative;
  left: auto;
  // text-transform: uppercase;
  // outline: .25rem solid get-color("focus");
  // outline-offset: 0;
}
