.emc-table__bordered {
  border: 1px solid grey;
  border-collapse: collapse;
}

.emc-table__bordered th,
.emc-table__bordered td {
  border: 1px solid grey;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

.emc-table__bordered th {
  background-color: lightgrey;
  color: black;
}

.emc-table__borderless {
  border-collapse: collapse;
}

.emc-table__borderless th,
.emc-table__borderless td {
  border-bottom: 1px solid grey;
  padding: 12px;
  text-align: left;
  font-size: 14px;
}

.emc-table__borderless th {
  border-bottom: 3px solid get-theme('highlight-bgcolor');
}

.emc-table__borderless tr:nth-child(even) {
  background-color: #e9e9e9;
}
