$emc-theme-color-map: (
  emc-princeton-orange: (background-color: #E77500, color: #000),
  emc-princeton-orange-80: (background-color: #EC9133, color: #000),
  emc-princeton-orange-20: (background-color: #FAE3CC, color: #000),
  emc-princeton-orange-10: (background-color: #FCF1E5, color: #000),
  emc-black: (background-color: #000, color: #fff),
  // when using orange on a black background, the orange has to be adjusted based on PU Communications guidelines:
  // https://communications.princeton.edu/guides-tools/logo-graphic-identity
  emc-black-and-orange: (background-color: #000, color: #F58025),
  emc-white: (background-color: #fff, color: #000),
  // neutral 1
  emc-gray: (background-color: #121212, color: #fff),
  emc-gray-80: (background-color: #414141, color: #fff),
  emc-gray-60: (background-color: #717171, color: #fff),
  emc-gray-40: (background-color: #A0A0A0, color: #000),
  emc-gray-20: (background-color: #EEEEEE, color: #000),
  // neutral 2
  emc-cool-gray: (background-color: #091F30, color: #fff),
  emc-cool-gray-80: (background-color: #3A4C59, color: #fff),
  emc-cool-gray-60: (background-color: #6B7983, color: #000),
  emc-cool-gray-40: (background-color: #9DA5AC, color: #000),
  emc-cool-gray-20: (background-color: #E6E9EA, color: #000),
  // neutral 3
  emc-gold: (background-color: #857437, color: #fff),
  emc-gold-80: (background-color: #A5935B, color: #000),
  emc-gold-60: (background-color: #B4A36A, color: #000),
  emc-gold-40: (background-color: #D9D1B4, color: #000),
  emc-gold-10: (background-color: #F6F3EC, color: #000),
  // dark mode
  emc-dark-gray: (background-color: #262626, color: #fff),
  emc-dark-gray-medium: (background-color: #333333, color: #fff),
  emc-dark-gray-light: (background-color: #3A3A3A, color: #fff),
  // accents
  emc-red: (background-color: #D14112, color: #fff),
  emc-red-dark: (background-color: #B00002, color: #fff),
  emc-bad-orange: (background-color: #FB9F26, color: #000),
  emc-yellow: (background-color: #FBC129, color: #000),
  emc-green: (background-color: #00C08B, color: #000),
  emc-green-dark: (background-color: #006450, color: #fff),
  emc-teal-dark: (background-color: #014758, color: #fff),
  emc-teal: (background-color: #086B83, color: #fff),
  emc-blue-dark: (background-color: #0B2F42, color: #fff),
  emc-blue-medium: (background-color: #074760, color: #fff),
  emc-blue: (background-color: #0B7097, color: #fff),
  emc-indigo-dark: (background-color: #1E0944, color: #fff),
  emc-indigo: (background-color: #5C43A8, color: #fff),
  emc-violet-dark: (background-color: #733B8C, color: #fff),
  emc-violet: (background-color: #983A90, color: #fff),
  emc-rose-dark: (background-color: #880E4F, color: #fff),
  emc-rose: (background-color: #E91E63, color: #000),
  emc-dirty-white: (background-color: #ddd, color: #000),

  // highlights
  emc-cyan: (background-color: #75F4FF, color: #000),
  emc-aqua: (background-color: #03DAC5, color: #000),
  emc-neon: (background-color: #E1FF32, color: #000),
  emc-lime: (background-color: #C9FB36, color: #000),
  emc-olive: (background-color: #A0BD00, color: #000),
);

$emc-theme-concept-colors: (
  success: emc-green,
  error: emc-red,
  info: emc-blue,
  warning: emc-indigo,
  // alternate status (darker)
  //success: emc-green-dark,
  //error: emc-red-dark,
  //info: emc-blue-medium,
  //warning: emc-plum,
);

// default theme
$emc-theme-feature-colors: (

  // general theme options
  accent: emc-princeton-orange,
  neutral-light: emc-gray-20,
  neutral-dark: emc-gray-60,
  success: emc-green,
  error: emc-red,
  info: emc-blue,
  warning: emc-indigo,

  body-text: emc-black,

  // header theme options
  header-cap: emc-princeton-orange,
  header-pu-branding: emc-white,
  header-site-branding: emc-white,
  header-utility-menu-underline: emc-princeton-orange,
  header-utility-menu-border-hover__small: emc-princeton-orange,
  header-utility-menu-border__small: emc-gray-20,
  header-search-border: emc-cool-gray-40, // was formerly #c8c8c8
  header-search-input: emc-white,
  header-search-bar-bottom-border: emc-gray-20,
  header-searchbar: emc-white,
  header-nav: emc-white,
  header-navbar: emc-white,

  // menubar theme options
  menubar-lg-primary: emc-white,
  menubar-lg-primary-hover-underline: emc-gray-40,
  menubar-lg-primary-current-underline: emc-princeton-orange,
  menubar-lg-secondary: emc-white,
  menubar-lg-secondary-hover: emc-gray-20, // #f4f4f4
  menubar-lg-secondary-current: emc-white,
  menubar-lg-secondary-border: emc-gray-40,
  menubar-sm: emc-white,
  menubar-sm-current: emc-gray-40,
  menubar-sm-border-bottom: emc-gray-40,
  menubar-sm-border-bottom-hover: emc-princeton-orange,

  // form theme options
  form-input-border: emc-gray-40,
  form-input: emc-white,
  form-input__disabled: emc-gray-40,

  // tabs
  tab: emc-white,

  // pager theme
  pager-item: emc-gray-20,
  pager-item-active: emc-gray-60,
  pager-item-hover: emc-gray-80,
  pager-item-disabled: emc-gray-20,
  pager-item-border: emc-dirty-white,

  // modal theme
  modal-wrapper: emc-gray-40,
  modal: emc-white,

  card: emc-white,
);

// example olive theme
//$emc-theme-feature-colors: (
//  header-cap: emc-rose-dark, // emc-princeton-orange
//  header-pu-branding: emc-olive, // emc-white
//  header-site-branding: emc-lime, // emc-white
//  header-utility-menu-underline: emc-lime, // emc-princeton-orange
//  header-utility-menu-border-hover__small: emc-rose-dark // emc-princeton-orange,
//  header-utility-menu-border__small: emc-gray-20,
//  header-search-border: emc-black, // emc-cool-gray-40 // was formerly #c8c8c8
//  header-search-input: emc-lime,
//  header-search-bar-bottom-border: emc-gray-20,
//  header-searchbar: emc-olive, // emc-white
//  header-nav: emc-lime, // emc-white
//  header-navbar: emc-lime, // emc-white
//  menubar-lg-primary: emc-lime,
//  menubar-lg-primary-hover-underline: emc-gray-40, // emc-gray-40
//  menubar-lg-primary-current-underline: emc-rose-dark, // emc-princeton-orange
//  menubar-lg-secondary: emc-olive, // emc-white,
//  menubar-lg-secondary-hover: emc-lime, // emc-gray-20, // #f4f4f4
//  menubar-lg-secondary-current: emc-gray-20, // emc-white
//  menubar-lg-secondary-border: emc-black, // emc-gray-40
//  menubar-sm: emc-olive, // emc-white
//  menubar-sm-current: emc-lime, // emc-gray-40
//  menubar-sm-border-bottom: emc-lime, // emc-gray-40
//  menubar-sm-border-bottom-hover: emc-rose-dark, // emc-princeton-orange
//);

@mixin emc-theme-color($feature) {
  background-color: map-get(map-get($emc-theme-color-map, map-get($emc-theme-feature-colors, $feature)), background-color);
  color: map-get(map-get($emc-theme-color-map, map-get($emc-theme-feature-colors, $feature)), color);
}

@function emc-theme-rgb($feature) {
  @return map-get(map-get($emc-theme-color-map, map-get($emc-theme-feature-colors, $feature)), background-color);
}

@each $key, $value in $emc-theme-color-map {
  .#{$key} { color: map-get($value, color); background-color: map-get($value, background-color); }
  .#{$key}-bg { background-color: map-get($value, background-color); }
  .#{$key}-fg { color: map-get($value, color); }
}
