// default theme
$emc-theme-feature-colors: (

  // general theme options
        accent: emc-princeton-orange,
        neutral-light: emc-gray-20,
        neutral-dark: emc-gray-60,
        success: emc-green,
        error: emc-red,
        info: emc-blue,
        warning: emc-indigo,

        body-text: emc-black,

        link: emc-blue-dark,
        link-visited: emc-indigo-dark,
        link-hover: emc-blue,
        link-active: emc-blue,
        link-focus: emc-blue,

        breadcrumb-item: emc-gray-60,

  // header theme options
        header-cap: emc-princeton-orange,
        header-pu-branding: emc-white,
        header-site-branding: emc-white,
        header-utility-menu-underline: emc-princeton-orange,
        header-utility-menu-border-hover__small: emc-princeton-orange,
        header-utility-menu-border__small: emc-gray-20,
        header-search-border: emc-cool-gray-40, // was formerly #c8c8c8
        header-search-input: emc-white,
        header-search-bar-bottom-border: emc-gray-20,
        header-searchbar: emc-white,
        header-nav: emc-white,
        header-navbar: emc-white,

  // menubar theme options
        menubar-lg-primary: emc-white,
        menubar-lg-primary-hover-underline: emc-gray-40,
        menubar-lg-primary-current-underline: emc-princeton-orange,
        menubar-lg-secondary: emc-white,
        menubar-lg-secondary-hover: emc-gray-20, // #f4f4f4
        menubar-lg-secondary-current: emc-white,
        menubar-lg-secondary-border: emc-gray-40,
        menubar-sm: emc-white,
        menubar-sm-current: emc-gray-40,
        menubar-sm-border-bottom: emc-gray-40,
        menubar-sm-border-bottom-hover: emc-princeton-orange,

  // form theme options
        form-input-border: emc-gray-40,
        form-input: emc-white,
        form-input__disabled: emc-gray-40,

  // tabs
        tab: emc-white,

  // pager theme
        pager-item: emc-gray-20,
        pager-item-active: emc-gray-60,
        pager-item-hover: emc-gray-80,
        pager-item-disabled: emc-gray-20,
        pager-item-border: emc-dirty-white,

  // overflow menu theme
        overflow-menu: emc-white,
        overflow-menu-divider: emc-cool-gray-20,
        overflow-menu-active: emc-blue,
        overflow-menu-danger: emc-red,

  // modal theme
        modal-wrapper: emc-gray-40,
        modal: emc-white,

  // toolbar theme
        toolbar: emc-gray-20,
        toolbar-section-divider: emc-gray,
        toolbar-legend-color: emc-gray-80,

        card: emc-white,
);

// example olive theme
//$emc-theme-feature-colors: (
//  header-cap: emc-rose-dark, // emc-princeton-orange
//  header-pu-branding: emc-olive, // emc-white
//  header-site-branding: emc-lime, // emc-white
//  header-utility-menu-underline: emc-lime, // emc-princeton-orange
//  header-utility-menu-border-hover__small: emc-rose-dark // emc-princeton-orange,
//  header-utility-menu-border__small: emc-gray-20,
//  header-search-border: emc-black, // emc-cool-gray-40 // was formerly #c8c8c8
//  header-search-input: emc-lime,
//  header-search-bar-bottom-border: emc-gray-20,
//  header-searchbar: emc-olive, // emc-white
//  header-nav: emc-lime, // emc-white
//  header-navbar: emc-lime, // emc-white
//  menubar-lg-primary: emc-lime,
//  menubar-lg-primary-hover-underline: emc-gray-40, // emc-gray-40
//  menubar-lg-primary-current-underline: emc-rose-dark, // emc-princeton-orange
//  menubar-lg-secondary: emc-olive, // emc-white,
//  menubar-lg-secondary-hover: emc-lime, // emc-gray-20, // #f4f4f4
//  menubar-lg-secondary-current: emc-gray-20, // emc-white
//  menubar-lg-secondary-border: emc-black, // emc-gray-40
//  menubar-sm: emc-olive, // emc-white
//  menubar-sm-current: emc-lime, // emc-gray-40
//  menubar-sm-border-bottom: emc-lime, // emc-gray-40
//  menubar-sm-border-bottom-hover: emc-rose-dark, // emc-princeton-orange
//);
