.emc-toolbar {
  position: relative;
  @include emc-theme-color(toolbar);
  padding: px-to-rem(10) px-to-rem(15);
  display: flex;
  transition: opacity .15s linear;
  border-top: none;
}

.emc-toolbar-section {
  display: inline-block;
  border-right: px-to-rem(1) solid emc-theme-rgb(toolbar-section-divider);
  -ms-flex: 1 1 auto;
  padding-right: px-to-rem(10);
  padding-left: 0;
  margin-right: px-to-rem(10);
}

.emc-toolbar-last-section {
  border-right: 0;
}

.emc-toolbar fieldset {
  display: inline;
}

.emc-toolbar fieldset legend {
  font-size: .9em;
  padding-bottom: px-to-rem(4);
  padding-left: px-to-rem(2);
  font-style: normal;
  font-weight: 700;
  line-height: px-to-rem(16);
  color: emc-theme-rgb(toolbar-legend-color);
}

.emc-toolbar legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.emc-toolbar fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
