@import 'variables';

.puds-h1--display {
  font-family: $font-face-heading;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3em/56px;
}

h1, .puds-h1 {
  font-family: $font-face-heading;
  font-weight: 300;
  font-size: 53px;
  line-height: 1.3em/46px;
}

h2, .puds-h2 {
  font-family: $font-face-heading;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.3em/39px;
}

h3, .puds-h3 {
  font-family: $font-face-heading;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3em/30px;
}

h4, .puds-h4 {
  font-family: $font-face-heading;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3em/30px;
}

h5, .puds-h5 {
  font-family: $font-face-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em/22px;
}

h6, .puds-h6 {
  font-family: $font-face-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em/15px;
}

.emc-p--lead {
  font-family: $font-face-heading;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.7em/28px;
}

body {
  font-family: $font-face-body;
}

label {
  font-weight: bold;
}

.emc-p {
  font-family: $font-face-body;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3em;
}

.emc-page-title {
  border-bottom: 3px solid #e77500;
  padding-bottom: 5px;
  margin: 0.2em 0 0.75em;
  font-size: 3.35rem;
  font-weight: 500;
}

.emc-block-heading {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.53;
}

.emc-block-heading:after {
  content: "";
  width: 50px;
  height: 3px;
  display: block;
  background-color: #e77500;
  margin-top: 2px;
}
