// Setting the root "rem" size using pixels will eliminate the ability for users to increase font size in their browser
// Disabling the ability to increase font size in the browser might be undesirable from an accessibility perspective.
// Using something other than 100% (16px) will make it more difficult to reason about sizes in the design.

// the emc-rem and emc-base-font-size-in-pixels values should be kept in sync with the assumption that 16px = 100%
$emc-base-font-size-in-pixels: 16;
$emc-rem: 100%;

$emc-font-display: swap;

$font-face-body-default: 'Roboto', sans-serif;
$font-face-body-casual: 'Public Sans', sans-serif;

$font-face-heading-default: 'Lora', serif;
$font-face-heading-casual: 'Public Sans', sans-serif;


