@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.css';
@import 'defaults';
@import 'variables';
@import 'color';
@import 'typography';
@import 'button';
@import 'forms';
@import 'table';

body {
  background-color: white;
}

// taken from digital.gov
.puds-focus {
  outline: .25rem solid #2491ff;
  outline-offset: 0;
}

// taken from Bootstrap
.puds-sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
