@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.css';
@import 'defaults';
@import 'variables';
@import 'functions';
@import 'breakpoints';
@import 'color';
@import 'theme_colors_default';
// @import 'theme_colors_demo';
@import 'theme';
@import 'typography';
@import 'elevation';

@import 'focus';
@import 'hidden';

@import 'accordion';
@import 'alert';
@import 'blockquote';
@import 'breadcrumb';
@import 'button';
@import 'cards';
@import 'dropdown';
@import 'email';
@import 'footer';
@import 'form-field';
@import 'forms';
@import 'header';
@import 'icon';
@import 'layout';
@import 'link';
@import 'menu-toggle';
@import 'modal-dialog';
@import 'nav-menu';
@import 'pager';
@import 'pill';
@import 'sidebar-menu';
@import 'skip-link';
@import 'table';
@import 'tabs';

body {
  background-color: white;
}

a:visited {
  color: rgb(0,0,238);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
